
-- 1. DROP and RECREATE Notifications for a clean slate
DROP TABLE IF EXISTS public.notifications;
CREATE TABLE public.notifications (
    id BIGINT GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    type TEXT NOT NULL,
    message TEXT NOT NULL,
    data JSONB DEFAULT '{}'::jsonb,
    is_read BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- 2. COMPLETELY Disable RLS for notifications to eliminate permission issues for now
ALTER TABLE public.notifications DISABLE ROW LEVEL SECURITY;

-- 3. Ensure the columns in sales exist
ALTER TABLE public.sales ADD COLUMN IF NOT EXISTS is_approved BOOLEAN DEFAULT TRUE;
ALTER TABLE public.sales ADD COLUMN IF NOT EXISTS delivery_info JSONB DEFAULT '{}'::jsonb;

-- 4. Enable Realtime properly
BEGIN;
  -- If you already have a publication named 'supabase_realtime', this adds the table.
  -- If you don't, it might error, so we do it safely.
  DROP PUBLICATION IF EXISTS news_publication;
  CREATE PUBLICATION news_publication FOR TABLE public.notifications;
COMMIT;

-- 5. Updated process_sale with explicit insertion and error logging
CREATE OR REPLACE FUNCTION public.process_sale(
    p_product_id BIGINT,
    p_quantity INTEGER,
    p_seller_id UUID DEFAULT NULL,
    p_customer_name TEXT DEFAULT 'Walk-in Customer',
    p_payment_method TEXT DEFAULT 'CASH',
    p_customer_id BIGINT DEFAULT NULL,
    p_status TEXT DEFAULT 'Paid',
    p_is_approved BOOLEAN DEFAULT TRUE,
    p_delivery_info JSONB DEFAULT NULL
)
RETURNS JSONB
LANGUAGE plpgsql
SECURITY DEFINER
AS \$\$
DECLARE
    v_sale_id UUID;
    v_product_price DECIMAL(10, 2);
    v_total_price DECIMAL(10, 2);
BEGIN
    -- Get price
    SELECT price INTO v_product_price FROM public.products WHERE id = p_product_id;
    IF v_product_price IS NULL THEN RAISE EXCEPTION 'Product % not found', p_product_id; END IF;
    
    v_total_price := v_product_price * p_quantity;

    -- Update inventory
    UPDATE public.products SET stock = stock - p_quantity WHERE id = p_product_id;

    -- Insert into sales
    INSERT INTO public.sales (
        product_id, seller_id, quantity, total_price, 
        customer_name, payment_method, customer_id, 
        status, is_approved, delivery_info
    )
    VALUES (
        p_product_id, p_seller_id, p_quantity, v_total_price, 
        p_customer_name, p_payment_method, p_customer_id, 
        p_status, p_is_approved, COALESCE(p_delivery_info, '{}'::jsonb)
    )
    RETURNING id INTO v_sale_id;

    -- Create notification for online orders
    IF p_is_approved = FALSE THEN
        INSERT INTO public.notifications (type, message, data)
        VALUES (
            'new_order',
            'New Order: ' || p_customer_name || ' ($' || v_total_price || ')',
            jsonb_build_object(
                'sale_id', v_sale_id,
                'customer_name', p_customer_name,
                'total_price', v_total_price
            )
        );
    END IF;

    RETURN jsonb_build_object(
        'success', true,
        'sale_id', v_sale_id,
        'message', 'Order placed successfully'
    );
END;
\$\$;

