
-- Add new columns for Approval System
ALTER TABLE public.sales 
ADD COLUMN IF NOT EXISTS is_approved BOOLEAN DEFAULT TRUE,
ADD COLUMN IF NOT EXISTS delivery_info JSONB;

-- Create Notifications Table
CREATE TABLE IF NOT EXISTS public.notifications (
    id BIGINT GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    type TEXT NOT NULL,
    message TEXT NOT NULL,
    data JSONB,
    is_read BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

ALTER TABLE public.notifications ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Enable
read
access
for
authenticated
users\ ON public.notifications
    FOR SELECT USING (auth.role() = 'authenticated');

CREATE POLICY \Enable
update
for
authenticated
users\ ON public.notifications
    FOR UPDATE USING (auth.role() = 'authenticated');

-- Update process_sale to handle Approval
DROP FUNCTION IF EXISTS public.process_sale(BIGINT, INTEGER, UUID, TEXT, TEXT, BIGINT, TEXT);

CREATE OR REPLACE FUNCTION public.process_sale(
    p_product_id BIGINT,
    p_quantity INTEGER,
    p_seller_id UUID,
    p_customer_name TEXT DEFAULT 'Walk-in Customer',
    p_payment_method TEXT DEFAULT 'CASH',
    p_customer_id BIGINT DEFAULT NULL,
    p_status TEXT DEFAULT 'Paid',
    p_is_approved BOOLEAN DEFAULT TRUE,
    p_delivery_info JSONB DEFAULT NULL
)
RETURNS JSONB
LANGUAGE plpgsql
SECURITY DEFINER
AS \$\$
DECLARE
    v_product_price DECIMAL(10, 2);
    v_current_stock INTEGER;
    v_sale_id UUID;
    v_total_price DECIMAL(10, 2);
BEGIN
    SELECT price, stock INTO v_product_price, v_current_stock
    FROM public.products
    WHERE id = p_product_id
    FOR UPDATE;

    IF NOT FOUND THEN RAISE EXCEPTION 'Product not found'; END IF;

    IF v_current_stock < p_quantity THEN
        RAISE EXCEPTION 'Insufficient stock';
    END IF;

    v_total_price := v_product_price * p_quantity;

    UPDATE public.products SET stock = stock - p_quantity WHERE id = p_product_id;

    INSERT INTO public.sales (
        product_id, seller_id, quantity, total_price, 
        customer_name, payment_method, customer_id, 
        status, is_approved, delivery_info
    )
    VALUES (
        p_product_id, p_seller_id, p_quantity, v_total_price, 
        p_customer_name, p_payment_method, p_customer_id, 
        p_status, p_is_approved, p_delivery_info
    )
    RETURNING id INTO v_sale_id;

    -- Create notification if not approved
    IF p_is_approved = FALSE THEN
        INSERT INTO public.notifications (type, message, data)
        VALUES (
            'new_order',
            'New Online Order from ' || p_customer_name,
            jsonb_build_object(
                'sale_id', v_sale_id,
                'customer_name', p_customer_name,
                'total_price', v_total_price,
                'quantity', p_quantity
            )
        );
    END IF;

    RETURN jsonb_build_object(
        'success', true,
        'sale_id', v_sale_id,
        'new_stock', v_current_stock - p_quantity,
        'total_price', v_total_price
    );
END;
\$\$;

