
-- Update the notification insertion to include product image_url
CREATE OR REPLACE FUNCTION public.process_sale(
    p_product_id BIGINT,
    p_quantity INTEGER,
    p_seller_id UUID DEFAULT NULL,
    p_customer_name TEXT DEFAULT 'Walk-in Customer',
    p_payment_method TEXT DEFAULT 'CASH',
    p_customer_id BIGINT DEFAULT NULL,
    p_status TEXT DEFAULT 'Paid',
    p_is_approved BOOLEAN DEFAULT TRUE,
    p_delivery_info JSONB DEFAULT NULL
)
RETURNS JSONB
LANGUAGE plpgsql
SECURITY DEFINER
AS \$\$
DECLARE
    v_sale_id UUID;
    v_product_price DECIMAL(10, 2);
    v_total_price DECIMAL(10, 2);
    v_product_name TEXT;
    v_image_url TEXT;
BEGIN
    -- Get product name, price, and IMAGE
    SELECT price, name, image_url INTO v_product_price, v_product_name, v_image_url 
    FROM public.products WHERE id = p_product_id;
    
    v_total_price := v_product_price * p_quantity;

    UPDATE public.products SET stock = stock - p_quantity WHERE id = p_product_id;

    INSERT INTO public.sales (product_id, seller_id, quantity, total_price, customer_name, payment_method, status, is_approved, delivery_info)
    VALUES (p_product_id, p_seller_id, p_quantity, v_total_price, p_customer_name, p_payment_method, p_status, p_is_approved, p_delivery_info)
    RETURNING id INTO v_sale_id;

    IF p_is_approved = FALSE THEN
        INSERT INTO public.notifications (type, message, data)
        VALUES (
            'new_order', 
            'New Order: ' || p_customer_name, 
            jsonb_build_object(
                'sale_id', v_sale_id, 
                'total_price', v_total_price,
                'customer_name', p_customer_name,
                'product_name', v_product_name,
                'image_url', v_image_url, -- ADDED IMAGE URL
                'quantity', p_quantity,
                'delivery_info', COALESCE(p_delivery_info, '{}'::jsonb)
            )
        );
    END IF;

    RETURN jsonb_build_object('success', true, 'sale_id', v_sale_id);
END;
\$\$;

